<div *ngIf="isLoading$ | async">Loading Courses....</div>

<ng-container *ngIf="!(isLoading$ | async)">
  <ng-container
    *ngIf="(courses$ | async) && (courses$ | async)?.length; else noCourses"
  >
    <app-course-card
      *ngFor="let course of courses$ | async"
      [title]="course.title"
      [description]="course.description"
      [duration]="course.duration"
      [creationDate]="course.creationDate"
      [authorIds]="course.authors"
    >
      <app-button class="col-5 me-3" iconName="pencil"> </app-button>
      <app-button class="col-5" iconName="trash-can"> </app-button>
    </app-course-card>
  </ng-container>
</ng-container>

<ng-template #noCourses>
  <app-info>
    <app-button
      *ngIf="isAdmin"
      routerLink="/courses/add"
      buttonText="add new course"
    ></app-button>
  </app-info>
</ng-template>
