<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <!--Use the name `name` for the form control.-->
          <input
            type="text"
            id="name"
            placeholder="Input text"
            formControlName="name"
          />
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <span
              *ngIf="name?.errors?.['required']"
              id="nameErrorMessage"
              class="text-danger"
              >Name is required.</span
            >
            <span
              *ngIf="name?.errors?.['minlength']"
              id="nameErrorMessage"
              class="text-danger"
              >Name must be at least 6 characters long.</span
            >
          </div>
        </div>
        <div class="form__control">
          <!--Use the name `email` for the form control.-->
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            placeholder="Input text"
            formControlName="email"
            emailValidator
          />
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <span
              *ngIf="email?.errors?.['required']"
              id="emailErrorMessage"
              class="text-danger"
            >
              Email is required.
            </span>
            <span
              *ngIf="email?.errors?.['invalidEmail']"
              id="emailErrorMessage"
              class="text-danger"
            >
              Email is invalid</span
            >
          </div>
        </div>
        <div class="form__control">
          <!--Use the name `password` for the form control.-->
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Input text"
            formControlName="password"
          />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            <span
              *ngIf="password?.errors?.['required']"
              id="passwordErrorMessage"
              class="text-danger"
              >Password is required.</span
            >
          </div>
        </div>
      </div>
      <div class="form__action">
        <app-button routerLink="/login" buttonText="register"></app-button>
      </div>
    </div>
  </form>
</div>
